**/Dockerfile
**/Dockerfile-*
**/docker-compose.yaml
**/docker-compose.yml

**/.git/
**/.vs/
**/.vscode/
**/.azure-pipelines/
**/bin/
**/obj/
**/vcpkg/
**/Debug/
**/Release/
**/packages/
**/node_modules/
**/dist/
**/x64/
**/Win32/
**/TestResults/

**/*.ncrunchsolution
**/*.ncrunchproject
**/*.DotSettings
**/*.user

**/.github/
**/.vscode
**/manifests
**/docs
**/README.md
