root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
file_header_template = Contrast Security, Inc licenses this file to you under the Apache 2.0 License.\nSee the LICENSE file in the project root for more information.

[*.yaml]
indent_style = space
indent_size = 2

[*.cs]
# IDE0073: File header
dotnet_diagnostic.IDE0073.severity = warning
