[submodule "vendor/dotnet-operator-sdk"]
	path = vendor/dotnet-operator-sdk
	url = https://github.com/Silvenga/dotnet-operator-sdk.git
[submodule "vendor/dotnet-kubernetes-client"]
	path = vendor/dotnet-kubernetes-client
	url = https://github.com/Silvenga/dotnet-kubernetes-client.git
	branch = system-text-json-pt2
