apiVersion: agents.contrastsecurity.com/v1beta1
kind: ClusterAgentInjector
metadata:
  name: cluster-agent-injector-dummy
  namespace: testing-agent-operator
spec:
  namespaces:
    - testing
  namespaceLabelSelector:
    - name: testing-label
      value: dummy-value
  template:
    spec:
      enabled: true
      type: dummy
      image:
        pullSecretName: cluster-injector-image-pullsecret
      selector:
        images:
          - "*"
        labels:
          - name: app
            value: injection-cluster-injector
      connection:
        name: cluster-injector-agent-connection
      configuration:
        name: cluster-injector-agent-configuration
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-injector-agent-connection-secret
  namespace: testing-agent-operator
type: Opaque
stringData:
  token: token
  apiKey: apiKey
  serviceKey: serviceKey
  userName: userName
---
apiVersion: agents.contrastsecurity.com/v1beta1
kind: AgentConnection
metadata:
  name: cluster-injector-agent-connection
  namespace: testing-agent-operator
spec:
  token:
    secretName: cluster-injector-agent-connection-secret
    secretKey: token
  url: http://localhost_cluster_injector
  apiKey:
    secretName: cluster-injector-agent-connection-secret
    secretKey: apiKey
  serviceKey:
    secretName: cluster-injector-agent-connection-secret
    secretKey: serviceKey
  userName:
    secretName: cluster-injector-agent-connection-secret
    secretKey: userName
---
apiVersion: agents.contrastsecurity.com/v1beta1
kind: AgentConfiguration
metadata:
  name: cluster-injector-agent-configuration
  namespace: testing-agent-operator
spec:
  yaml: |
    enabled: false
    foo:
      bar: "foobar_cluster_injector"
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-injector-image-pullsecret
  namespace: testing-agent-operator
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: eyJhdXRocyI6eyIiOnsidXNlcm5hbWUiOiIiLCJwYXNzd29yZCI6IiIsImVtYWlsIjoiIiwiYXV0aCI6IiJ9fX0=
